
      h1{
        font-size: 16px !important;
        height: 21px !important;
        margin-top: 18px !important;
      }
      .flex{ display:flex;}
      .flex-wrap{ display:flex; flex-wrap:wrap;}
      .flex-grow { flex-grow:1; }
      .inputGroupNoWidth{ margin:3px;}
      .textAlign {text-align: center;}
      .title {
        margin:5px;
        padding: 5px;
        font-size: 16px;
        color: White;
        text-align: center;
      }
      .inputGroup{
        margin:3px;
        min-width: 150px;
      }
      .inputGroupBox{
        margin:3px;
        width: 50px;
      }
      .inputLabel{
        font-size: 10px;
        color:#333333
      }
      .inputBox {
        border-top: none !important;
        border-right: none !important;
        border-left: none !important;
        background: none !important;
      }
      .font8{ font-size: 8px !important; }
      .font9{ font-size: 9px !important; }
      .font10{ font-size: 10px !important; }
      .font12{ font-size: 12px !important; }
      .font16{ font-size: 16px !important; }
      .width20 {width:20px !important;}
      .width25 {width:25px !important;}
      .width30 {width:30px !important;}
      .width50 {width:50px !important;}
      .width75 {width:75px !important;}
      .width100 {width:100px !important;}
      .width150 {width:150px !important;}
      .width200 {width:200px !important;}
      .width100P {width:100% !important;}
      .height20 {height: 20px !important;}
      .height21 {height: 21px !important;}
      .height25 {height: 25px !important;}
      .height30 {height: 30px !important;}
      .height50 {height: 50px !important;}
      .height75 {height: 75px !important;}
      .height100 {height: 100px !important;}
      .height150 {height: 150px !important;}
      .height200 {height: 200px !important;}
      .height300 {height: 300px !important;}
      .height500 {height: 500px !important;}
      .height550 {height: 550px !important;}
      .align-center {text-align: center;}
      .marginRight5 {margin-right:5px !important;}
      .marginLeft5 {margin-left:5px !important;}
      .marginTop5 {margin-top:5px !important;}
      .marginTop10 {margin-top:10px !important;}
      .marginTop18 {margin-top:18px !important;}
      .margin-auto {margin: auto;}
      .margin5 {margin: 5px !important;}
      .margin2 {margin: 2px !important;}

@import "../assets/d4.png";
@import "../assets/d6.png";
@import "../assets/d8.png";
@import "../assets/d10.png";
@import "../assets/d12.png";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}


.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6 / span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flexlarge {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.align-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

/* Styles limited to boilerplate sheets */
.boilerplate {
  /* ----------------------------------------- */
  /*  Items Lists                              */
  /* ----------------------------------------- */
  /* Example style for Boilerplate (can be removed if not needed) */
}

.boilerplate .item-form {
  font-family: "Roboto", sans-serif;
}

.boilerplate .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 auto;
  flex: 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.boilerplate .sheet-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}

.boilerplate .sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.boilerplate .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.boilerplate .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.boilerplate .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.boilerplate .sheet-body,
.boilerplate .sheet-body .tab,
.boilerplate .sheet-body .tab .editor {
  height: 100%;
}

.boilerplate .tox .tox-editor-container {
  background: #fff;
}

.boilerplate .tox .tox-edit-area {
  padding: 0 8px;
}

.boilerplate .resource-label {
  font-weight: bold;
}

.boilerplate .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}

.boilerplate .items-header > * {
  font-size: 14px;
  text-align: center;
}

.boilerplate .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.boilerplate .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}

.boilerplate .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.boilerplate .items-list .item-name {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.boilerplate .items-list .item-name h3, .boilerplate .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}

.boilerplate .items-list .item-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.boilerplate .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}

.boilerplate .items-list .item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}

.boilerplate .items-list .item:last-child {
  border-bottom: none;
}

.boilerplate .items-list .item .item-name {
  color: #191813;
}

.boilerplate .items-list .item .item-name .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30px;
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}

.boilerplate .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}

.boilerplate .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}

.boilerplate .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}

.boilerplate .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}

.boilerplate .item-formula {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
  padding: 0 8px;
}

.boilerplate .effects .item .effect-source,
.boilerplate .effects .item .effect-duration,
.boilerplate .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}

.boilerplate .effects .item .effect-controls {
  border: none;
}
