<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
  
  <!-- Sheet Tab Navigation-->
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="main">Personnage</a>
    <a class="item" data-tab="powers">Techniques</a>
    <a class="item" data-tab="items">Equipements</a>
    <a class="item" data-tab="biography">Biographie</a>
    <a class="item" data-tab="notes">Notes</a>
  </nav>

  <section class="sheet-body">

  <!-- Main Page-->
    <div class="tab" data-group="primary" data-tab="main">
      {{!-- Sheet Header --}}
  <div class="flex" style="height:200px;">
    <!-- Image-->
    <img src="{{actor.img}}" 
          data-edit="img" title="{{actor.name}}" 
          style="height:95%; min-width:100px; max-width:200px; margin:5px;"/>
     
    <!-- Basic Data-->
    <div class="flex-grow margin5">
      <div class="marginTop5">
        <span class="inputLabel">Nom / Joueur / Année</span>
        <input class="marginRight5 inputBox"
          placeholder="Nom / Joueur / Année"
          type="text" 
          name="name" 
          value="{{actor.name}}"/>
      </div>
      <div class="marginTop5">
        <span class="inputLabel">Race</span>
        <input class="inputBox marginRight5"
          placeholder="Race"
          type="text" 
          name="data.race" 
          value="{{data.race}}"/>
      </div>
      <div class="marginTop5">
        <span class="inputLabel">Concept</span>
        <input class="inputBox marginRight5"
          placeholder="Concept"
          type="text" 
          name="data.concept" 
          value="{{data.concept}}"/>
      </div>
      <div class="marginTop5">
        <span class="inputLabel">Campagne</span>
        <input class="inputBox marginRight5"
          placeholder="Campagne"
          type="text" 
          name="data.campaign" 
          value="{{data.campaign}}"/>
      </div>
    </div>

    <!-- Important data -->
    <div class="margin5 width100">
      <div class="marginTop5 inputGroup">
        <span class="inputLabel">Resistance / Puissance</span>
        <div class="flex">
          <input class="inputBox width50"
            placeholder="Resistance"
            type="number" 
            name="data.resistance"
            value="{{data.resistance}}"/> /
          <input class="inputBox width50"
            placeholder="Puissance"
            type="number" 
            name="data.powerlevel"
            value="{{data.powerlevel}}"/>
        </div>
      </div>
      <div class="marginTop5 inputGroup">
        <span class="inputLabel">PV</span>
        <div class="flex">
          <input class="inputBox width50"
            placeholder="Restant"
            type="number" 
            name="data.pv"
            value="{{data.pv}}"/> /
          <input class="inputBox width50"
            placeholder="max"
            type="number" 
            name="data.pvmax"
            value="{{data.pvmax}}"/>
        </div>
      </div>
      <div class="marginTop5 inputGroup">
        <span class="inputLabel">PE</span>
        <div class="flex">
          <input class="inputBox width50"
            placeholder="restant"
            type="number" 
            name="data.energypoint" 
            value="{{data.energypoint}}"/> /
          <input class="inputBox width50"
            placeholder="max"
            type="number" 
            name="data.energypointmax"
            value="{{data.energypointmax}}"/>

        </div>
      </div>
      <div class="marginTop5 inputGroup">
        <span class="inputLabel">XP P/A</span>
        <div class="flex">
          <input class="inputBox width50"
            placeholder="XPP"
            type="number" 
            name="data.xpp" 
            value="{{data.xpp}}"/> / 
          <input class="inputBox width50"
            placeholder="XPA"
            type="number" 
            name="data.xpa"
            value="{{data.xpa}}"/>
        </div>
      </div>
    </div>
  </div>

      <div class="flex">
        <div class="flex-grow">           
            <!-- Physical Talents --> 
            <div class="title" style="background:#B71C1C"> Talents Physiques</div>
            <div class="marginTop5 flex-grow flex">
              <input class="width20 marginRight5 inputBox"
                type="number" 
                name="data.agility" 
                value="{{data.agility}}"/>
              <div class="rollable flex"
                data-rollcustom="{{data.agility}}" data-rolllabel="Agilité">
                <img class="width25 height25" 
                  src="systems/shonengo/assets/{{data.agilityDice}}.png" 
                  style="border:0"/>
                <div class="flex-grow" style="margin:5px 0 0 5px;" > Agilité </div>
              </div>
            </div>
			
            <div class="marginTop5 flex-grow flex">
              <input class="width20 marginRight5 inputBox"
                type="number" 
                name="data.strength" 
                value="{{data.strength}}"/>
              <div class="rollable flex"
                data-rollcustom="{{data.strength}}" data-rolllabel="Force">
                <img class="width25 height25" 
                  src="systems/shonengo/assets/{{data.strengthDice}}.png" 
                  style="border:0"/>
                <div class="flex-grow" style="margin:5px 0 0 5px;" > Force </div>
              </div>
            </div>
			
            <div class="marginTop5 flex-grow flex">
              <input class="width20 marginRight5 inputBox"
                type="number" 
                name="data.vigor" 
                value="{{data.vigor}}"/>
              <div class="rollable flex"
                data-rollcustom="{{data.vigor}}" data-rolllabel="Vigueur">
                <img class="width25 height25" 
                  src="systems/shonengo/assets/{{data.vigorDice}}.png" 
                  style="border:0"/>
                <div class="flex-grow" style="margin:5px 0 0 5px;" > Vigueur </div>
              </div>
            </div>
			
            <div class="marginTop5 flex-grow flex">
              <input class="width20 marginRight5 inputBox"
                type="number" 
                name="data.combat" 
                value="{{data.combat}}"/>
              <div class="rollable flex"
                data-rollcustom="{{data.combat}}" data-rolllabel="Combat">
                <img class="width25 height25" 
                  src="systems/shonengo/assets/{{data.combatDice}}.png" 
                  style="border:0"/>
                <div class="flex-grow" style="margin:5px 0 0 5px;" > Combat </div>
              </div>
            </div>
			
            <div class="marginTop5 flex-grow flex">
              <input class="width20 marginRight5 inputBox"
                type="number" 
                name="data.energy" 
                value="{{data.energy}}"/>
              <div class="rollable flex"
                data-rollcustom="{{data.energy}}" data-rolllabel="Energie">
                <img class="width25 height25" 
                  src="systems/shonengo/assets/{{data.energyDice}}.png" 
                  style="border:0"/>
                <div class="flex-grow" style="margin:5px 0 0 5px;" > Energie </div>
              </div>
            </div>
              
        </div>
        <div class="flex-grow">          
          <div class="title flex-grow" style="background:#283593"> Talents Divers</div>
          <div class="flex">
            <!-- Talents part 1 -->
            <div class="flex-grow">    
              <div class="marginTop5 flex-grow flex">
                <input class="width20 marginRight5 inputBox"
                  type="number" 
                  name="data.discretion" 
                  value="{{data.discretion}}"/>
                <div class="rollable flex"
                  data-rollcustom="{{data.discretion}}" data-rolllabel="Discretion">
                  <img class="width25 height25" 
                    src="systems/shonengo/assets/{{data.discretionDice}}.png" 
                    style="border:0"/>
                  <div style="margin:5px 0 0 5px," > Discretion </div>
                </div>
              </div>
        
              <div class="marginTop5 flex-grow flex">
                <input class="width20 marginRight5 inputBox"
                  type="number" 
                  name="data.investigation" 
                  value="{{data.investigation}}"/>
                <div class="rollable flex"
                  data-rollcustom="{{data.investigation}}" data-rolllabel="Enquête">
                  <img class="width25 height25" 
                    src="systems/shonengo/assets/{{data.investigationDice}}.png" 
                    style="border:0"/>
                  <div style="margin:5px 0 0 5px," > Enquête </div>
                </div>
              </div>
        
              <div class="marginTop5 flex-grow flex">
                <input class="width20 marginRight5 inputBox"
                  type="number" 
                  name="data.magic" 
                  value="{{data.magic}}"/>
                <div class="rollable flex"
                  data-rollcustom="{{data.magic}}" data-rolllabel="Magie">
                  <img class="width25 height25" 
                    src="systems/shonengo/assets/{{data.magicDice}}.png" 
                    style="border:0"/>
                  <div style="margin:5px 0 0 5px," > Magie </div>
                </div>
              </div>
        
              <div class="marginTop5 flex-grow flex">
                <input class="width20 marginRight5 inputBox"
                  type="number" 
                  name="data.medicine" 
                  value="{{data.medicine}}"/>
                <div class="rollable flex"
                  data-rollcustom="{{data.medicine}}" data-rolllabel="Médicine">
                  <img class="width25 height25" 
                    src="systems/shonengo/assets/{{data.medicineDice}}.png" 
                    style="border:0"/>
                  <div style="margin:5px 0 0 5px," > Médicine </div>
                </div>
              </div>
        
              <div class="marginTop5 flex-grow flex">
                <input class="width20 marginRight5 inputBox"
                  type="number" 
                  name="data.perception" 
                  value="{{data.perception}}"/>
                <div class="rollable flex"
                  data-rollcustom="{{data.perception}}" data-rolllabel="Perception">
                  <img class="width25 height25" 
                    src="systems/shonengo/assets/{{data.perceptionDice}}.png" 
                    style="border:0"/>
                  <div style="margin:5px 0 0 5px," > Perception </div>
                </div>
              </div>
        
              <div class="marginTop5 flex-grow flex">
                <input class="width20 marginRight5 inputBox"
                  type="number" 
                  name="data.piloting" 
                  value="{{data.piloting}}"/>
                <div class="rollable flex"
                  data-rollcustom="{{data.piloting}}" data-rolllabel="Pilotage">
                  <img class="width25 height25" 
                    src="systems/shonengo/assets/{{data.pilotingDice}}.png" 
                    style="border:0"/>
                  <div style="margin:5px 0 0 5px," > Pilotage </div>
                </div>
              </div>
        
              <div class="marginTop5 flex-grow flex">
                <input class="width20 marginRight5 inputBox"
                  type="number" 
                  name="data.socialization" 
                  value="{{data.socialization}}"/>
                <div class="rollable flex"
                  data-rollcustom="{{data.socialization}}" data-rolllabel="Socialisation">
                  <img class="width25 height25" 
                    src="systems/shonengo/assets/{{data.socializationDice}}.png" 
                    style="border:0"/>
                  <div style="margin:5px 0 0 5px," > Socialisation </div>
                </div>
              </div>
        
            </div>
            
            <!-- Talents part 2 -->
            <div class="flex-grow">     
              
              <div class="marginTop5 flex-grow flex">
                <input class="width20 marginRight5 inputBox"
                  type="number" 
                  name="data.knowledge" 
                  value="{{data.knowledge}}"/>
                <div class="rollable flex"
                  data-rollcustom="{{data.knowledge}}" data-rolllabel="Savoir">
                  <img class="width25 height25" 
                    src="systems/shonengo/assets/{{data.knowledgeDice}}.png" 
                    style="border:0"/>
                  <div style="margin:5px 0 0 5px," > Savoir </div>
                </div>
              </div>
        
              <div class="marginTop5 flex-grow flex">
                <input class="width20 marginRight5 inputBox"
                  type="number" 
                  name="data.strategy" 
                  value="{{data.strategy}}"/>
                <div class="rollable flex"
                  data-rollcustom="{{data.strategy}}" data-rolllabel="Stratégie">
                  <img class="width25 height25" 
                    src="systems/shonengo/assets/{{data.strategyDice}}.png" 
                    style="border:0"/>
                  <div style="margin:5px 0 0 5px," > Stratégie </div>
                </div>
              </div>
        
              <div class="marginTop5 flex-grow flex">
                <input class="width20 marginRight5 inputBox"
                  type="number" 
                  name="data.survival" 
                  value="{{data.survival}}"/>
                <div class="rollable flex"
                  data-rollcustom="{{data.survival}}" data-rolllabel="Survie">
                  <img class="width25 height25" 
                    src="systems/shonengo/assets/{{data.survivalDice}}.png" 
                    style="border:0"/>
                  <div style="margin:5px 0 0 5px," > Survie </div>
                </div>
              </div>
        
              <div class="marginTop5 flex-grow flex">
                <input class="width20 marginRight5 inputBox"
                  type="number" 
                  name="data.technology" 
                  value="{{data.technology}}"/>
                <div class="rollable flex"
                  data-rollcustom="{{data.technology}}" data-rolllabel="Technologie">
                  <img class="width25 height25" 
                    src="systems/shonengo/assets/{{data.technologyDice}}.png" 
                    style="border:0"/>
                  <div style="margin:5px 0 0 5px," > Technologie </div>
                </div>
              </div>
        
              <div class="marginTop5 flex-grow flex">
                <input class="width20 marginRight5 inputBox"
                  type="number" 
                  name="data.will" 
                  value="{{data.will}}"/>
                <div class="rollable flex"
                  data-rollcustom="{{data.will}}" data-rolllabel="Volonté">
                  <img class="width25 height25" 
                    src="systems/shonengo/assets/{{data.willDice}}.png" 
                    style="border:0"/>
                  <div style="margin:5px 0 0 5px," > Volonté </div>
                </div>
              </div>
        
              <div class="marginTop5 flex-grow flex">
                <input class="width20 marginRight5 inputBox"
                  type="number" 
                  name="data.custom1" 
                  value="{{data.custom1}}"/>
                <div class="rollable"
                  data-rollcustom="{{data.custom1}}" data-rolllabel="{{data.custom1name}}">
                  <img class="width25 height25" 
                    src="systems/shonengo/assets/{{data.custom1Dice}}.png" 
                    style="border:0"/>
                </div>
                <input class="inputBox width100"
                  type="text" 
                  name="data.custom1name" 
                  value="{{data.custom1name}}"/>
              </div>
        
              <div class="marginTop5 flex-grow flex">
                <input class="width20 marginRight5 inputBox"
                  type="number" 
                  name="data.custom2" 
                  value="{{data.custom2}}"/>
                <div class="rollable"
                  data-rollcustom="{{data.custom2}}" data-rolllabel="{{data.custom2name}}">
                  <img class="width25 height25" 
                    src="systems/shonengo/assets/{{data.custom2Dice}}.png" 
                    style="border:0"/>
                </div>
                <input class="inputBox width100"
                  type="text" 
                  name="data.custom2name" 
                  value="{{data.custom2name}}"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Powers Tab -->
    <div class="tab" data-group="primary" data-tab="powers">
      {{editor content=data.techniques target="data.techniques" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    <!-- Items Tab -->
    <div class="tab" data-group="primary" data-tab="items">
      {{editor content=data.equipments target="data.equipments" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    <!-- Biography Tab -->
    <div class="tab" data-group="primary" data-tab="biography">
      {{editor content=data.biography target="data.biography" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    <!-- Notes Tab -->
    <div class="tab" data-group="primary" data-tab="notes">
      {{editor content=data.notes target="data.notes" rollData=rollData button=true owner=owner editable=editable}}
    </div>

  </section>
</form>

